<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="unit">
      <directory>src/Tests/Unit</directory>
    </testsuite>
    <testsuite name="feature">
      <directory>src/Tests/Feature</directory>
    </testsuite>
  </testsuites>
</phpunit>
